<ion-content class="transparent-header">
  <ion-header>
    <ion-navbar color="transparent">
      <!--      <ion-title>排行榜</ion-title>-->
      <ion-buttons end>
        <button class="search-btn" ion-button icon-only>
          <ion-icon class="icon-search"></ion-icon>
        </button>
        <button class="more-btn" ion-button icon-only>
          <ion-icon class="icon-more_android_light "></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-list class="header-list" no-lines>
    <ion-item>
      <ion-thumbnail item-start>
        <img  src="assets/imgs/main/head.jpg" class="header-img">
      </ion-thumbnail>
      <h2 class="">怀念记忆</h2>
      <p class="light opacity-6">Dream as if you'll live forever.</p>
    </ion-item>
    <ion-row class="user-info " nowrap="" align-items-center="">
      <ion-col>
        <p>6</p>
        <p>关注</p>
      </ion-col>
      <ion-col>
        <p>150</p>
        <p>粉丝</p>
      </ion-col>
      <ion-col col-5 text-right="" class="zu-ji"  align-self-end="">足迹 · 省 <span class="yellow">6</span> · 城市 <span
        class="yellow">15</span></ion-col>
      <ion-col>
        <button small ion-button icon-left class="yellow-bg">
          <ion-icon class="icon-add"></ion-icon>
          关注
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
  <!-- mode="md":指定为Android手机模式的 -->
  <ion-segment [(ngModel)]="segment" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let item of segmentArr" value="{{item}}">
      {{item}}
      <div class="bolder-sm"></div>
    </ion-segment-button>
  </ion-segment>
  <div  [ngSwitch]="segment" (swipe)="swipeEvnet($event)" class="content">
    <ion-scroll  scrollY="true" style="height: 60vh" *ngSwitchCase="'行程 6'" class="time-line">
      <ion-row  class="been" >
        <div>
          <p>- 去过 3 座城市 -</p>
          <p>拉萨 · 北京 ·  上海</p>
        </div>
      </ion-row >

      <ion-row  class="year"  >
        <ion-col col-4 text-center=""><h4 no-margin="">2018</h4>
        </ion-col>
      </ion-row >
      <ion-row  class="guo-jia"  >
        <ion-col ><img src="assets/imgs/icon/06中国图标大.png" height="20" width="20"/>
        </ion-col>
        <ion-col col-10 > <span >中国</span> <span>China</span></ion-col>
      </ion-row >
      <ion-row padding-horizontal=""  *ngFor="let item of [1,2,3,4,5]" >
        <ion-col class="left"> <span class="yellow-bg">12-1月        <ion-icon class="icon-radioboxfill"></ion-icon></span>
        </ion-col>
        <ion-col col-10 > <span class="di-dian" >北京</span> <span class="note-ios" float-right="" (click)="imageTapped()">详细 <ion-icon class="icon-right" style="font-size: 1.1rem"></ion-icon> </span>
        <ion-row class="time-line-imgs" >
          <img *ngFor="let item of [1,2,3,4,5]" col-4 src="assets/imgs/timeline/1.png" (click)="imageTapped()"  alt="">
        </ion-row>
        </ion-col>
      </ion-row>
    </ion-scroll>
    <ion-scroll  scrollY="true" style="height: 60vh"  *ngSwitchCase="'游记 7'">
      <ion-list class="you-ji-list" >
        <div *ngFor="let post of posts" class="you-ji-item">
          <img  [src]="post.postImageUrl" (click)="imageTapped(post)" class="main-img">
          <h5 class="nowrap">{{post.title}}</h5>
          <ion-row align-items-center="" nowrap="">
            <ion-col col-5>
                  <img no-margin="" class="header-item" [src]="user.profileImage">
                <span class="name ">{{user.name}}</span>
            </ion-col>
            <ion-col col-2>
              <button ion-button color="dark" clear small icon-left (click)="like(post)">
                <ion-icon class="icon-favor"></ion-icon>
                {{post.likes}}
              </button>
            </ion-col>
            <ion-col col-2>
              <button ion-button color="dark" clear small icon-left (click)="comment(post)">
                <ion-icon class="icon-markfill"></ion-icon>
                {{post.comments}}
              </button>
            </ion-col>
            <ion-col col-2>
              <button ion-button color="dark" clear small icon-left (click)="comment(post)">
                <ion-icon class="icon-appreciate"></ion-icon>
                {{post.comments}}
              </button>
            </ion-col>
          </ion-row>
        </div>
      </ion-list>
    </ion-scroll>
<!--    <div *ngSwitchCase="'相册 6'" padding>
      相册
    </div>-->
    <ion-scroll  scrollY="true" style="height: 60vh"  *ngSwitchCase="'评论 23'" padding>
      评论
    </ion-scroll>
  </div>
</ion-content>


