<ion-content class="transparent-header">
  <ion-header>
    <ion-navbar color="transparent">
      <!--      <ion-title>排行榜</ion-title>-->
      <ion-buttons end>
        <button class="search-btn" ion-button icon-only>
          <ion-icon class="icon-search"></ion-icon>
        </button>
        <button class="more-btn" ion-button icon-only>
          <ion-icon class="icon-more_android_light "></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-list class="header-list" no-lines>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/main/head.jpg" class="header-img">
      </ion-thumbnail>
      <h2 class="">怀念记忆</h2>
      <p class="light opacity-6">Dream as if you'll live forever.</p>
    </ion-item>
    <ion-row class="user-info " nowrap="" align-items-center="">
      <ion-col>
        <p>6</p>
        <p>关注</p>
      </ion-col>
      <ion-col>
        <p>150</p>
        <p>粉丝</p>
      </ion-col>
      <ion-col col-5 text-right="" class="zu-ji"  align-self-end="">足迹 · 省 <span class="yellow">6</span> · 城市 <span
        class="yellow">15</span></ion-col>
      <ion-col>
        <button small ion-button icon-left class="yellow-bg">
          <ion-icon class="icon-add"></ion-icon>
          关注
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
  <!-- mode="md":指定为Android手机模式的 -->
  <ion-segment [(ngModel)]="segment" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let item of segmentArr" value="{{item}}">
      {{item}}
      <div class="bolder-sm"></div>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment" (swipe)="swipeEvnet($event)" class="content">
    <div *ngSwitchCase="'行程 6'" >
      行程
    </div>
    <div *ngSwitchCase="'游记 7'">
      <ion-list class="you-ji-list" >
        <div *ngFor="let post of posts" class="you-ji-item">
          <img [src]="post.postImageUrl" (click)="imageTapped(post)">
          <h5 class="nowrap">{{post.title}}</h5>
          <ion-row align-items-center="" nowrap="">
            <ion-col col-5>
                  <img no-margin="" class="header-item" [src]="user.profileImage">
                <span class="name">{{user.name}}</span>
            </ion-col>
            <ion-col >
              <button ion-button color="dark" clear small icon-left (click)="like(post)">
                <ion-icon class="icon-favor"></ion-icon>
                {{post.likes}}
              </button>
            </ion-col>
            <ion-col>
              <button ion-button color="dark" clear small icon-left (click)="comment(post)">
                <ion-icon class="icon-markfill"></ion-icon>
                {{post.comments}}
              </button>
            </ion-col>
            <ion-col>
              <button ion-button color="dark" clear small icon-left (click)="comment(post)">
                <ion-icon class="icon-appreciate"></ion-icon>
                {{post.comments}}
              </button>
            </ion-col>
          </ion-row>
        </div>
      </ion-list>
    </div>
<!--    <div *ngSwitchCase="'相册 6'" padding>
      相册
    </div>-->
    <div *ngSwitchCase="'评论 23'" padding>
      评论
    </div>
  </div>
</ion-content>


