page-my-profile {
  /*  .slide-zoom {
      height: 100%;
    }
    .segment-md .segment-button {
      color:#585858;
    }

    .segment-md .segment-button.segment-activated {
      color:#000 ;
      font-weight: bold;
    }*/

  .content {
    overflow-y: auto;
    height: 100%;
  }

  .header-list {
    padding: 5.6rem 0 0;
    background-image: url('../assets/imgs/account/profile-head-bg.png');
    background-size: cover;
    margin-bottom: 0;
  }

  .icon-search {
    font-size: 2.2rem !important;
  }

  .more-btn:after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 2px;
    position: absolute;
    width: 1px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.65);
  }

  .header-list ion-item {
    background-color: transparent;
    color: #fff;
    /*    background-color: rgba(0, 0, 0, 0.3);*/
  }

  .header-img {
    position: relative;
    /*    top: -10px;
        z-index: 20000;*/
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
  }

  .user-info {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
  }

  .user-info p {
    margin: 0;
    font-size: 1.4rem;
    font-family: Roboto;
    text-align: center;
  }

  .user-info ion-col:first-of-type:after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
    position: absolute;
    width: 1px;
    height: 38%;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .user-info .zu-ji{
    margin-bottom: 3px;
    font-size: 1rem ;
  }

  .user-info button {
    height: 3rem;
  }

  .you-ji-list .main-img{
    width: 100%;
    height: 15rem;
  }

  .you-ji-list .you-ji-item {
    padding: 15px 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
  }


  .you-ji-list h5 {
    font-size: 1.7rem;
    margin: 5px 0;
  }

  .you-ji-list ion-row {
    margin: 0;
  }

  .you-ji-list ion-row ion-item {
    height: 35px;
    min-height: 35px !important;
  }

  .you-ji-list  .header-item {
    border-radius: 50%;
    width: 28px !important;
    height: 28px !important;
    vertical-align: middle;
    margin-right: 5px;
  }

  .you-ji-list .name{
    margin: 0;
    color: #585858;
  }
}
