page-ranking-list {
  ion-navbar {
    padding: 5px 18px 5px 2px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0.8;
  }

  .pai-ming-bg {
    margin: 2px 0;
    background-color: rgba(255, 216, 122, 0.6);
    border-radius: 0 50px 50px 0;
  }

  .pai-ming {
    color: #ffd87a;
  }

  .pai-ming-bg h4 {
    padding-left: 0.5rem;
    font-size: 1.8rem;
  }

  .pai-ming-bg h5 {
    font-size: 1.5rem;
  }

  .pai-ming-bg p {
    font-size: 0.9rem;
  }

  .pai-ming-bg .num {
    text-align: center;
    width: 4.5rem !important;
  }

  .km {
    font-family: Roboto;
    font-weight: 600;
  }

  .bottom {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .bottom .pai-ming-bg {
    margin: 10px 0;
    background-color: rgba(136, 106, 234, 0.61);
    border-radius: 0 50px 50px 0;
  }

  .pai-ming-bg ion-col {
    padding: 0 3px;
  }

  .tou-xiang {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    vertical-align: top;
    border: 3px solid currentColor;
    margin-right: 2px;
  }

  .pai-ming-bg-1 {
    background-color: rgba(242, 150, 150, 0.6);
  }

  .pai-ming-1 {
    color: #f29696 !important;
  }

  .pai-ming-bg-23 {
    background-color: rgba(255, 166, 62, 0.6);
  }

  .pai-ming-23 {
    color: #ffa63e;
  }
}
