page-ranking-list {
  ion-navbar {
    padding: 5px 18px 5px 2px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0.8;
  }

  .bottom {
    background-color: rgba(0, 0, 0, 0.5);
  }

}
