page-self-tour {

  .slides {
    height: auto;
  }

  .searchbar-ios {
    background-color: #fff;
    border: none;
  }

  .searchbar input {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .img-list {
    margin: 0.6rem 1rem 0;
  }

  .img-list img {
    width: 3.8rem;
    height: 3.8rem;
  }

  .img-list p {
    margin: 0;
  }

  .jin-ri-slides ion-slide {
    width: 80vw;
  }

  .jin-ri-slides h5, .jin-ri-slides p {
    padding: 1px 10px;
  }

  .jin-ri-slides h5 {
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;

  }

  .scale-img {
    -webkit-transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }

  .jin-ri-scroll img {
    display: inline-block !important;
  }
}
