page-self-tour {
  ion-header {
    button {
      width: 30px !important;
      height: 30px !important;
      min-height: 30px !important;
      background-color: rgba(0, 0, 0, .26) !important;
      border-radius: 50% !important;
    }

   .icon-more_android_light{
      font-size: 22px!important;
    }
  }

  .slides {
    height: auto;
  }

  .searchbar-ios {
    background-color: #fff;
    border: none;
  }

  .searchbar input {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  .logo {
     img{
       margin-right: 5px;
     }
    span{
      margin: 0;
      font-size: 1.2rem;
      p{

        font-size: 0.9rem;
      }
    }
  }
  .header-title{
    margin-bottom: 6px;
    padding: 0 10px;
    span:first-of-type{
      font-size: 1.7rem;
    }

  }
  .img-list {
    margin: 0.6rem 1rem 0;
  }

  .img-list img {
    width: 3.8rem;
    height: 3.8rem;
  }

  .img-list p {
    margin: 0;
  }

  .jin-ri-slides {

    ion-card {
      margin: 5px;
      padding-bottom: 8px;
    }
  }

  .jin-ri-slides ion-slide {
    width: 80vw;
  }

  .jin-ri-slides h5, .jin-ri-slides p {
    padding: 1px 10px;
  }

  .jin-ri-slides h5 {
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;

  }

  .scale-img {
    -webkit-transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
  .qiang-gou, .xi-xing {
    margin-bottom: -10px;
  }

  .qiang-gou .title {
    display: inline-block;
    width: 120px;
    height: 28px;
    line-height: 28px;
    margin-right: 1rem;
    background: url('../assets/imgs/self-tour/11限时抢购标题黄色背景.png') no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: oblique;
  }

  .qiang-gou .time span {
    background-color: #000;
    color: #fff;
    padding: 0px 2px;
    border-radius: 3px;
  }

  .more {
    color: #474747;
    padding-right: 0.8rem;
/*    height: 28px;
    line-height: 28px;*/
    ion-icon{
      font-size: 1.3rem;
    }

  }

  .qiang-gou ion-row {
    padding: 5px;
    padding-bottom: 0 !important;
  }

  .qiang-gou div {
    position: relative;
    padding: 0;
  }

  .qiang-gou img {
    position: relative;
    /*    z-index: -1;*/
  }

  $hong-bao: #ff3334;

  .qiang-gou .hong-bao {
    position: relative;
    margin: 5px;
    background-color: $hong-bao;
    /*  line-height: 160px;*/
    /*    background: url('../assets/imgs/self-tour/14红包背板.png') no-repeat;*/
    /*    background-size: 100% 100%;*/
    p.name {
      background-color: #FF6684;
      color: #fff;
      font-weight: 500;
    }

    /*
    div.center{
      @include center-center;
    }
    */

    div.money {
      position: relative;
      background-color: #fff;
      padding: 15px 2px;
      border-bottom: 1px solid $border-color;
      p {
        font-size: 0.9rem;
      }
      &:before {
        content: "●";
        position: absolute;
        font-size: 1.2rem;
        color: $hong-bao;
        left: -5px;
        bottom: -8px;
        z-index: 10;
      }
      &:after {
        content: "●";
        position: absolute;
        font-size: 1.2rem;
        color: $hong-bao;
        right: -5px;
        bottom: -8px;
        z-index: 10;
      }
    }

    h5 {
      color: $hong-bao;
      font-size: 2.2rem;
      margin: 0;
    }

    p {
      margin: 0;
    }

    div.btn {
      padding: 5px 2px;
      background: #fff;
      button {
        display: block;
        position: relative;
        top: 35%;
        margin: auto;
        background-color: $hong-bao;
        color: #fff;
        padding: 5px 15px;
        border-radius: 15px;
        font-size: 1rem;
      }
    }

  }

  .huo-dong div p {
    position: absolute;
    width: 100%;
    padding: 3px 2px;
    margin-bottom: 0;
    left: 0;
    bottom: 0px;
    color: #fff;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
    z-index: 2;
  }

  .huo-dong > p {
    margin: 5px;
  }

  .huo-dong > p strong {
    font-size: 1.8rem;
    font-family: Roboto;
  }

  .re-men-scroll {
    ion-card {
      margin: 5px;
      display: inline-block !important;
      ion-img {
        display: block;
        margin: 0;
      }
      ion-card-content {
        position: relative;
        width: 100%;
        padding: 3px 8px 2px;
        img {
          position: absolute;
          top: -14px;
          left: 0;
          width: 25vw;
          height: 26px;
        }
        div {
          position: absolute;
          top: -14px;
          color: #fff;
          font-size: 1rem;
          strong {
            font-size: 1.5rem;
          }
        }
        p {
          font-size: 1rem;
        }
      }
    }

  }
  .re-men-more {
    color: #474747;
    border-top: 1px solid $border-color;
    margin: 16px 0.8rem -10px;
    padding: 0.9rem;
    ion-icon{
      font-size: 1.3rem;
    }
  }

  .xi-xing {
    ion-card {
      margin: 5px;
      box-shadow: none;
      img {
        display: block;
        margin: 0;
        width: 100% !important;
        height: 200px !important;
      }
      .ri-qi {
        position: absolute;
        background-color: #FFDE37;
        border-radius: 0 0 2px 2px;
        padding: 1px 8px;
        top: 5px;
        left: 15px;
        color: #474747;
        z-index: 10;
        > span {
          font-size: 3rem;
          font-weight: 600;
        }
        div {
          margin: 0;
          padding: 0;
          display: inline-block;
          font-size: 1.3rem;
          p, span {
            margin: 0;
            padding: 0;
          }
          span {
            position: relative;
            top: 4px;
          }
        }

      }

      ion-card-content {
        padding:6px 3px 3px;
        ion-card-title {
          font-size: 1.6rem;
          font-weight: 600;
          text-align: left;
        }
        .header-item {
          display: inline-block;
          border-radius: 50%;
          width: 28px !important;
          height: 28px !important;
          vertical-align: middle;
          margin-right: 1px;
        }

        .name {
          display: inline-block;
          margin: 0;
          color: #585858;
        }

        .zan button {
          img {
            width: 25px !important;
            height: 25px !important;
            margin-right: 0.3rem;
          }
        }
      }
    }

  }

  .jin-pin-list {
    margin-bottom: 0;
    padding: 6px 15px;

    .card {
      width: 100%;
      margin-bottom: 1rem;
      box-shadow: 1px 0 8px rgba(204, 204, 204, 0.2), 0 1px 8px rgba(204, 204, 204, 0.2);
      border-radius: 2px;
      padding: 0 !important;
    }
    img {
      margin: 0 5px 0 0 !important;
      width: 26%;
      height: 90px !important;
    }
    ion-label {
      margin: 6px 2px;
      padding-right: 0;
      h2 {
        font-size: 1.5rem !important;
      }
    }
    .btn {
      span {
        display: inline-block;
        margin-right: 5px;
        border-radius: 3px;
        padding: 1px 5px;
        color: #fff;
        font-size: 1.3rem;
        &.one {
          background: -webkit-linear-gradient(to left, #6F96FB, #A67EF8);
          background: linear-gradient(to left, #6F96FB, #A67EF8);
        }

        &.two {
          background: -webkit-linear-gradient(to left, #A67EF8, #F76A9E);
          background: linear-gradient(to left, #A67EF8, #F76A9E);
        }

        &.three {
          color: #585858;
          border: 1px solid #cccccc;
          background-color: #fff !important;
        }
      }

    }
    .sell-price {
      font-size: 1.2rem;
      .price {
        font-size: 1.5rem;
      }

    }
  }

  .jin-pin-card {
    margin-top: 0;
    position: relative;
    .day {
      position: absolute;
      top: 2px;
      right: 6px;
      color: #fff;
    }
    img {
      display: inline-block;
      height: 200px;
    }
    ion-card-content {
      padding: 3px 6px 10px;
      ion-card-title {
        padding: 0 0 10px 0;
        font-size: 1.6rem ;
      }
      p {
        span {
          margin-right: 5px;
          border: 1px solid $border-color;
          padding: 2px 3px;
          border-radius: 3px;
        }
      }
    }

  }
}
