page-self-tour {

  .slides {
    height: auto;
  }

  .searchbar-ios {
    background-color: #fff;
    border: none;
  }

  .searchbar input {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .img-list {
    margin: 0.6rem 1rem 0;
  }

  .img-list img {
    width: 3.8rem;
    height: 3.8rem;
  }

  .img-list p {
    margin: 0;
  }

  .jin-ri-slides ion-slide {
    width: 80vw;
  }

  .jin-ri-slides h5, .jin-ri-slides p {
    padding: 1px 10px;
  }

  .jin-ri-slides h5 {
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;

  }

  .scale-img {
    -webkit-transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }

  .qiang-gou .title {
    display: inline-block;
    width: 120px;
    height: 28px;
    line-height: 28px;
    margin-right: 1rem;
    background: url('../assets/imgs/self-tour/11限时抢购标题黄色背景.png') no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: oblique;
  }

  .qiang-gou .time span {
    background-color: #000;
    color: #fff;
    padding: 0px 2px;
    border-radius: 3px;
  }

  .qiang-gou .more {
    padding-right: 0.8rem;
    height: 28px;
    line-height: 28px;
  }

  .qiang-gou ion-row {
    padding-bottom: 0 !important;
  }

  .qiang-gou div {
    position: relative;
    padding: 0;
  }

  .qiang-gou img {
    position: relative;
    /*    z-index: -1;*/
  }

  $hong-bao: #ff3334;

  .hong-bao {
    position: relative;
    margin: 5px;
    background: url('../assets/imgs/self-tour/14红包背板.png') no-repeat;
    background-size: 100% 100%;
    .name {
      margin-top: -5px;
      color: #fff;
      font-weight: 500;
    }

    div {
      position: relative;
      top: 18%;
      p {
        font-size: 1rem;
      }
    }

    h5 {
      color: $hong-bao;
      font-size: 2.2rem;
      margin: 0;
    }

    p {
      margin: 0;
    }

    button {
      display: block;
      position: relative;
      top: 33%;
      margin: auto;
      background-color: $hong-bao;
      color: #fff;
      padding: 5px 10px;
      border-radius: 15px;
    }
  }

  .huo-dong div p {
    position: absolute;
    width: 100%;
    padding: 3px 2px;
    margin-bottom: 0;
    left: 0;
    bottom: 0px;
    color: #fff;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
    z-index: 2;
  }

  .huo-dong > p {
    margin: 3px;
  }

  .huo-dong > p strong {
    font-size: 1.8rem;
    font-family: Roboto;
  }

  .jin-ri-scroll img {
    display: inline-block !important;
  }
}
