page-circle-carpool {
  .carpoll-select{
    color: #111111!important;
    border-bottom: 2px solid red;
    z-index: 100;
  }

  ion-toolbar:first-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0!important;
      .segment-md {
        border-bottom: 0!important;
      }

  }
  .carpool-row{
    ion-col:first-child img{
      border-radius: 50%;
    }
  }

  .carpool-row2{
    ion-col:nth-child(1){
      ion-icon{
        font-size: 25px;
        color: $color-8a;
      }
    }
    ion-col:nth-child(2){
      img{
        margin-right: 3px;
        width: 32px;
        height: 32px;
      }
    }
    ion-col:last-child{
      button:first-child{
        color: #ff6a99;
        background-color: #fff;
        border: 1px #ff6a99 solid;
      }

      button:last-child{
        color: #fff;
        background: -webkit-linear-gradient(to right, #6b96fe, #a581fe); /* Safari 5.1 - 6.0 */
        background: linear-gradient(to right, #6b96fe, #a581fe); /* 标准的语法（必须放在最后） */
      }
    }
  }

  .color-ff{
    color: #ff6a99;
  }

  .color-11{
    color: #111111;
    font-weight: 500;
  }

  .margin-5{
    margin: 5px 0!important;
  }
  .margin-t-5{
    margin: 5px 0 0 0!important;
  }

  .color-f9{
    background-color: #F9F9F9;
  }

  .release{
    position: fixed;
    bottom: -5px;text-align: center;
    width: 100%;
    img{
      width: 13%;
      height: 13%;
    }
  }
}
