page-date-peoplenum {
  .more-btn:after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 2px;
    position: absolute;
    width: 1px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.65);
  }
  .icon-kefu{
    font-size: 22px!important;
  }

  .calendar-list{
    width: 13.5%;padding:4px;
    margin: 1px;
  }

  .cla-sel{
    border-radius: 5px;
    background-color: #fdf1eb;
    .font-size-1{
      color: #f08c5c;
    }
  }
  ion-segment-button{
    height: 52px!important;
    &>div:nth-child(1){
      p{
        font-size: 13px;
        height: 18px;
        font-weight: normal;
      }
      p:first-child{
        font-weight: 600;
      }
      p:last-child{
        font-size: 11px;
      }
      height: 50px;
    }
    &.segment-activated{
      .bolder-sm {
        border: 1px solid color($colors, primary)!important;
        width: 36px;
        margin: 0 auto;
      }
    }

  }

  .week-style{
    background-color: #f6f6f6;
    border-radius: 20px;
    margin: 5px 0;
    ion-col{
      padding: 3px 5px!important;
    }
  }

  .english-style{
    padding-top: 4rem;
    font-size: 24px;
    color: #e6e6e6;
    transform: scaleX(0.8);
  }
  .border-title{
    position: relative;
  }
  .border-title::before{
    content: '';
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(0deg, transparent 50%, #8a8a8a 50%);
  }

  .icon-font{
    font-size: 24px;
  }

  .font-num{
    font-weight: 400;
  }

  .lianjie-color{
    color: #547fea;
  }

  .foot-btn-sh{
    background-color: #f9da65;
    box-shadow: 0 -4px 10px rgba(62,62,62,.15);
  }
}
