page-home {

  ion-toolbar {
    padding: 6px 18px 2px 12px !important;
  }

  .tou-xiang {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: top;
    border: 2px solid #ffffff;
    margin-right: 3px;
  }

  .jiao-biao {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 60%;
    font-size: 0.8rem;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: #f52115;
    border-radius: 50%;
  }

  .bottom-tabs{
    position: fixed;
    bottom: 1.2rem;
    color: #ffffff;
  }

  .bottom-tabs ion-col{
    color: rgba(255, 255, 255, 0.6);
  }

  .bottom-tabs ion-col:active .icon{
    background-color: rgba(255, 255, 255, 0.3);
  }

  .bottom-tabs .icon{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;

  }

  .bottom-tabs .icon ion-icon{
    color: rgba(255, 255, 255, 0.7);
    font-size: 3.6rem;
  }
}
