page-home {
  ion-toolbar{
    padding: 5px 18px 2px 12px!important;
  }
  .tou-xiang {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  .jiao-biao {
    position: absolute;
    top: 0;
    left: 60%;
  }
}
