page-home {
  ::-webkit-scrollbar {
    display: none !important;
  }

  ion-toolbar {
    padding: 8px 18px 0px 12px !important;
  }

  .tou-xiang {
    margin-top: 1px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: top;
    border: 2px solid #ffffff;
    margin-right: 3px;
  }


  .map {
    margin-top: 0px!important;
    width: 100vw;
    height: 34vh;
  }

  .go-to p {
    margin: 1rem auto 0;
    width: 60vw;
    font-size: 1rem;
    padding: 2px 8px;
    text-align: center;
    border-radius: 15px;
    background-color: #ECD14C;
    color: rgba(34, 34, 34, 0.7);

  }

  .go-to p span {
    font-size: 1.6rem;
    padding: 0 3px;
  }

  .tour-data {
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
  }

  .tour-data h2, .tour-data p {
    margin: 0;
    padding: 0;
  }

  .tour-data h2 {
    font-family: Radikal;
    font-size: 3.3rem;
  }

  .tour-data p {
    margin-top: 0.2rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
  }

  .slides {
    position: relative;
    margin-top: 1.3rem;
    background-color: rgba(255, 255, 255, 0.3);
    height: 8rem;
    color: #ffffff;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }

  .slides .swiper-pagination {
    text-align: left;
    padding-left: 8px;
    bottom: 0px;
  }

  .slides .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }

  .slides .swiper-pagination .swiper-pagination-bullet {
    background-color: #ffffff;
  }

  .slides ion-slide {
    margin-top: -0.5rem;
  }

  .slides ion-slide p {
    padding-left: 1rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
    margin: 0;
  }

  .slides ion-slide ion-row {
    padding-left: 0.6rem;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
  }

  .slides ion-slide ion-row strong {
    font-size: 2rem;
    padding: 0 2px;
    color: #ECD14C;

  }
  .slides .tou-xiang-1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: top;
    border: 2px solid #eca722;
    margin-right: 3px;
  }

  .slides .tou-xiang-1:first-of-type {
    border: 2px solid #ec5d1c;
  }

  .bottom-tabs {
    padding-bottom: 0;
    color: #ffffff;
  }

  .bottom-tabs ion-col {
    color: rgba(255, 255, 255, 0.6);
  }

  .bottom-tabs ion-col:active .icon {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .bottom-tabs .icon {
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;

  }

  .bottom-tabs .icon ion-icon {
    color: rgba(255, 255, 255, 0.8);
    font-size: 3rem;
  }
}
