<ion-header >
  <ion-navbar color="white">
    <ion-title>游记分享</ion-title>
    <ion-buttons end>
      <button class="search-btn" ion-button icon-only>
        <ion-icon class="icon-share"></ion-icon>
      </button>
      <button class="more-btn" ion-button icon-only>
        <ion-icon class="icon-more_android_light "></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides class="slides">
    <ion-slide *ngFor="let image of [2]">
      <img data-src="./assets/imgs/self-tour/{{image}}.png">
    </ion-slide>
  </ion-slides>
  <ion-row>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='全部'?'city-select':''}}" (click)="selectFlg='全部'">全部</button>
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='精华'?'city-select':''}}" (click)="selectFlg='精华'">精华</button>
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='四川'?'city-select':''}}" (click)="selectFlg='四川'">四川</button>
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='西藏'?'city-select':''}}" (click)="selectFlg='西藏'">西藏</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='贵州'?'city-select':''}}" (click)="selectFlg='贵州'">贵州</button>
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='新疆'?'city-select':''}}" (click)="selectFlg='新疆'">新疆</button>
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='云南'?'city-select':''}}" (click)="selectFlg='云南'">云南</button>
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='内蒙古'?'city-select':''}}" (click)="selectFlg='内蒙古'">内蒙古</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="foldFlg">
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='青海'?'city-select':''}}" (click)="selectFlg='青海'">青海</button>
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='甘肃'?'city-select':''}}" (click)="selectFlg='甘肃'">甘肃</button>
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button clear small class="grey city-style" ngClass="{{selectFlg=='其他'?'city-select':''}}" (click)="selectFlg='其他'">其他</button>
    </ion-col>
  </ion-row>
  <p> </p>
  <div class="fold" text-center>
    <p class="font-size-13" (click)="foldFlg=!foldFlg" tappable no-margin>
      <span *ngIf="foldFlg">收起 <ion-icon class="icon-fold font-size-12"></ion-icon></span>
      <span *ngIf="!foldFlg">展开 <ion-icon class="icon-unfold font-size-12"></ion-icon></span>
    </p>
  </div>
  <p class="partition" no-margin></p>

  <div *ngFor="let item of youjiList">
    <div class="padding-lr-10 youji-div">
      <ion-row align-items-center>
        <ion-col col-auto><img no-margin class="tou-xiang" [src]="item.personImg"/></ion-col>
        <ion-col class="person-col"><p no-margin class="grey">{{item.name}}</p><p no-margin class="color-8a font-size-1">{{item.time}}</p></ion-col>
        <ion-col text-right><ion-icon class="icon-xihangqujingjinghuatubiaon yellow"></ion-icon></ion-col>
      </ion-row>
      <p class="title">{{item.title}}</p>
      <ion-row align-items-center class="youji-img">
        <ion-col no-padding><img [src]="item.img1"/></ion-col>
        <ion-col><img [src]="item.img2"/></ion-col>
        <ion-col no-padding><img [src]="item.img3"/></ion-col>
      </ion-row>
      <ion-row align-items-center nowrap class="last-row">
        <ion-col col-6 align-self-center text-left class="grey font-size-13">
          <ion-icon class="icon-dingweitubiaodan yellow"></ion-icon> <span> {{item.dingwei}}</span>
        </ion-col>
        <ion-col col-2>
          <button ion-button class="grey" clear small icon-left>
            <ion-icon class="icon-markfill"></ion-icon> {{item.pinglun}}
          </button>
        </ion-col>
        <ion-col col-4 class="zan" text-right>
          <button ion-button class="grey" clear small>
            <img src="assets/imgs/icon/09赞图标.png" />  {{item.zan}}</button>
        </ion-col>
      </ion-row>
    </div>
    <p class="partition" no-margin></p>
  </div>

</ion-content>
