// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$light: #fff;
$stable: #f8f8f8;
$positive: #00ACFF;
$calm: #11c1f3;
$balanced: #33cd5f;
$energized: #f26604;
$yellow: #FFDE37;
$assertive: #ff3334;
$royal: #886aea;
$grey: #474747;
$dark: #000;
$color-8a:#8a8a8a;
$color-f7:#f7f7f8;

$colors-list: (light:$light, stable:$stable, positive:$positive,
  calm:$calm, balanced:$balanced, energized:$energized,
  yellow:$yellow, assertive:$assertive, royal:$royal, grey:$grey,
  dark:$dark, color-8a:$color-8a, color-f7:$color-f7);
@each $key, $value in $colors-list {
  .#{$key} {
    color: $value !important;
  }
  .#{$key}-bg {
    background-color: $value !important;
  }
}


$colors: (
  primary: #FFDE37,
  secondary: #32db64,
  transparent: transparent,
  danger: #ff3334,
  white: #ffffff,
  light: #f4f4f4,
  dark: #222,
);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$border-color: #f4f4f4;
$dark-border-color: #e5e5e5;
/*$toolbar-background: color($colors, blue) !default;*/
$tabs-background: #fff !default;
$list-border-color: #EBEBEB !default;
$toast-max-width: 100% !default;
$img-placeholder-background: transparent !default;
$refresher-border-color: transparent !default;
$refresher-icon-color: $grey !default;
$refresher-text-color: $grey !default;
$refresher-text-font-size: 14px !default;
$refresher-height: 66px !default;
$infinite-scroll-loading-color: $grey !default;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-border-color: transparent !default;
$tabs-ios-border-color: #EBEBEB !default;
$card-ios-box-shadow-color:rgba(0, 0, 0, .1);
$card-ios-box-shadow:0px 3px 10px 0 $card-ios-box-shadow-color;
/*$toast-ios-background:color($colors, primary) !default;*/
$toolbar-ios-title-font-weight:500!default;
/*$ios-transition-container-bg-color: transparent !default;*/
$range-ios-knob-background-color:color($colors, primary) !default;/*range*/
$toggle-ios-height:23px;
$toggle-ios-background-color-off: #f2f2f2;
$action-sheet-ios-background: #fff !default;
$action-sheet-ios-button-text-color: color($colors, primary) !default;
$action-sheet-ios-border-radius: 3px !default;
$action-sheet-ios-title-font-size: 1.4rem !default;
$action-sheet-ios-title-padding: 1rem !default;
$action-sheet-ios-button-padding: 10px !default;
$action-sheet-ios-button-min-height: 4.6rem !default;
$action-sheet-ios-border-color: $border-color !default;
$action-sheet-ios-button-font-size: 1.8rem !default;
$action-sheet-ios-button-cancel-font-weight: 400 !default;
$toast-ios-background: rgba(0, 0, 0, .88) !default;
$toast-ios-title-padding-top: 0.8rem !default;
$toast-ios-border-radius: .4rem !default;
$toast-ios-title-font-size: 1.4rem !default;
$alert-ios-border-radius: 5px !default;
$alert-ios-button-main-font-weight: 0 !default;
/*$alert-ios-button-background-color: #f0f0f0 !default;*/
$alert-ios-background: #fff !default;
$alert-ios-title-font-weight: 500 !default;
$alert-ios-message-font-size: 16px !default;
$alert-ios-button-border-color: $border-color !default;
$popover-ios-border-radius: 5px !default;
$popover-ios-background: #fff !default;
$loading-ios-border-radius: 5px !default;
$loading-ios-background: rgba(0, 0, 0, 0.8) !default;
$loading-ios-content-font-weight: 200 !default;
$loading-ios-text-color: #fff !default;
$loading-ios-spinner-color: #fff !default;
$loading-ios-padding-top: 15px !default;
$loading-ios-padding-end: 20px !default;

.ion-ios-arrow-back:before {
  content: "\e7ed" !important;
  font-size: 2.2rem;
}

ion-header ion-icon {
  font-size: 2.6rem !important;
}

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$segment-button-md-border-bottom-width: 0px;
$segment-button-md-font-size: 1.5rem;
/*$segment-button-md-text-color-activated: #000;
$segment-button-md-border-color-activated: #FFDE37;*/
/*.segment-md .segment-button.segment-activated {
  border-width: 3px;
}*/

/***** segment颜色定制 start *********/
.segment-md {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.segment-md .segment-button {
  color: #585858 !important;
}

.segment-md .segment-button.segment-activated {
  /*  color: color($colors, primary) !important;*/
  font-weight: bold;
  .bolder-sm {
    border: 3px solid color($colors, primary);
    width: 36px;
    margin: 0 auto;
  }
}

/***** segment颜色定制 end ********/

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


/*自定义ion-datetime样式*/

ion-picker-cmp{
  .picker-wrapper{
    border: none!important;
    .picker-button{
      font-weight: 100!important;
    }
  }
}


/*自定义item样式*/

.item {
  &.item-block {
    &:first-child {
      border-top: none !important;
    }
    &:last-child {
      border-bottom: none !important;
    }
  }

}

/*自定义toast样式*/

ion-toast {
  text-align: center !important;
  &.toast-error, &.toast-success {
    .toast-wrapper {
      background-color: transparent !important;
      .toast-container {
        min-width: 120px !important;
        display: inline-block !important;
        border-radius: 20px !important;
        .toast-message {
          padding: 5px 22px;
          font-size: 15px;
        }
      }

    }
  }
  @mixin toast-bg-color($color) {
    .toast-container {
      background-color: color($colors, $color) !important;
    }
  }

  &.toast-error {
    @include toast-bg-color(danger);
  }

  &.toast-success {
    @include toast-bg-color(secondary);
  }


}

/*真机环境的样式*/
.platform-ios.platform-cordova, .platform-android.platform-cordova {

}


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
