<ion-content>
  <ion-searchbar class="searchbar" placeholder="送车上门地点"></ion-searchbar>
  <div #maps class="map-container"></div>

  <ion-card class="fixed-card-bottom">
    <ion-list *ngFor="let item of placeList">
      <ion-item no-padding>
        <p class="place"><ion-icon class="icon-location_light place-icon" *ngIf="item.index==1"></ion-icon>{{item.place}}</p>
        <p class="color-8a font-size-12" text-wrap>{{item.address}}</p>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
