<ion-header>
  <ion-navbar color="white">
    <ion-title>选择车型</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon class="icon-kefu"></ion-icon>
      </button>
      <button class="more-btn" ion-button icon-only>
        <ion-icon class="icon-more_android_light "></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <p class="div-border"></p>
</ion-header>

<ion-content>
  <div class="padding-lr-10">
    <p class="font-size-16">
      <span class="font-bold">【最美林芝2日】</span>桃花季预售•雅鲁藏布大峡谷•嘎啦桃花村/拉如桃花村
    </p>
    <p class="color-8a font-size-12">
      <span><ion-icon class="icon-time font-size-14"></ion-icon> 2018.01.05出发</span>
      <span padding-left><ion-icon class="icon-renyuan font-size-14"></ion-icon> 成人1·儿童1</span>
    </p>
    <p class="border-l-r color-8a" text-center>豪华·出行配备</p>
  </div>
  <ion-card>
    <div class="ri-qi"><span>用车 | </span>
      <div><span>01.05</span>
        <p>01.07</p></div>
    </div>
    <ion-row align-items-center class="padding-t-5">
      <ion-col col-4 margin-top>
        <img src="assets/imgs/journey/car.png" width="50" height="50"/>
      </ion-col>
      <ion-col>
        <h2>雪佛兰科鲁兹<span float-right class="color-8a font-size-12">车辆说明 <ion-icon
          class="icon-questionfill color-d7"></ion-icon></span></h2>
        <p class="font-size-12 color-8a">或同组车型</p>
        <ion-row>
          <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col text-left class="grey font-size-12" col-auto>三厢·1.5自动·乘坐4人</ion-col>
          <ion-col text-right class="color-8a font-size-15 num-middle">
            <ion-icon class="icon-jianhao " (click)="carNum>1?carNum=carNum-1:carNum" tappable></ion-icon>
            <span class="font-bold grey"> {{carNum}} </span>
            <ion-icon class="icon-jiajianxi " (click)="carNum=carNum+1" tappable></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <p class="div-border"></p>
    <p text-center class="color-73 padding-tb-5">更换车辆</p>
  </ion-card>
  <ion-card>
    <div class="driver-top"><span>司机 · </span>2日</div>
    <ion-row align-items-center class="padding-t-5">
      <ion-col col-4 margin-top>
        <img src="assets/imgs/journey/car.png" width="50" height="50"/>
      </ion-col>
      <ion-col>
        <h2>专业司机</h2>
        <p class="grey driver-btn">
          <span> 15年+驾龄 </span><span> 专业培训 </span>
        </p>
        <ion-row>
          <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col text-left class="grey font-size-13" col-auto>
            <ion-icon class="icon-favor_fill_light color-f9"></ion-icon>
            5星级服务标准
            <ion-icon class="icon-questionfill color-d7"></ion-icon>
          </ion-col>
          <ion-col text-right class="color-8a font-size-15 num-middle" align-self-center>
            <ion-icon class="icon-jianhao font-size-18" (click)="driverNum>1?driverNum=driverNum-1:driverNum"
                      tappable></ion-icon>
            <span class="font-bold grey"> {{driverNum}} </span>
            <ion-icon class="icon-jiajianxi font-size-18" (click)="driverNum=driverNum+1" tappable></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <div class="driver-top"><span>服务 · </span>升级</div>
    <div text-center class="color-73 padding-tb-5" *ngIf="!guideFlg" (click)="guideFlg=!guideFlg" tappable>+ 私人导游  <span class="remen">热门</span></div>
    <div *ngIf="guideFlg">
      <button class="seat-border" (click)="guideFlg=!guideFlg">
        <ion-icon class="icon-guanbi"></ion-icon>
      </button>
      <ion-row align-items-center class="padding-t-5">
        <ion-col col-4 margin-top>
          <img src="assets/imgs/journey/car.png" width="50" height="50"/>
        </ion-col>
        <ion-col>
          <h2>私人导游 <span class="remen">热门</span></h2>
          <p class="grey driver-btn service-btn">
            <span> 全程1对1 </span><span> 92%出游用户选择 </span>
          </p>
          <ion-row>
            <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col text-left class="grey font-size-13" col-auto>
              <ion-icon class="icon-favor_fill_light color-f9"></ion-icon>
              5星级服务标准
              <ion-icon class="icon-questionfill color-d7"></ion-icon>
            </ion-col>
            <ion-col text-right class="color-8a font-size-15 num-middle" align-self-center>
              <ion-icon class="icon-jianhao font-size-18" (click)="guideNum>0?guideNum=guideNum-1:guideNum"
                        tappable></ion-icon>
              <span class="font-bold grey"> {{guideNum}} </span>
              <ion-icon class="icon-jiajianxi font-size-18" (click)="guideNum=guideNum+1" tappable></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
  <ion-card>
    <div class="driver-top"><span>服务 · </span>升级</div>
    <div text-center class="color-73 padding-tb-5" *ngIf="!cameraFlg" (click)="cameraFlg=!cameraFlg" tappable>+ 跟拍摄影师  <span class="remen color-5a">推荐</span></div>

    <div *ngIf="cameraFlg">
      <button class="seat-border" (click)="cameraFlg=!cameraFlg">
        <ion-icon class="icon-guanbi"></ion-icon>
      </button>
      <ion-row align-items-center class="padding-t-5">
        <ion-col col-4 margin-top>
          <img src="assets/imgs/journey/car.png" width="50" height="50"/>
        </ion-col>
        <ion-col>
          <h2>跟拍摄影师 <span class="remen color-5a">推荐</span></h2>
          <p class="driver-btn service-btn camera-color">
            <span> 私人订制化 </span><span> 100%好评 </span>
          </p>
          <ion-row>
            <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col text-left class="grey font-size-13 nowrap" col-8>
              <ion-icon class="icon-favor_fill_light color-f9"></ion-icon>
              可提供服装等服务
              <ion-icon class="icon-questionfill color-d7"></ion-icon>
            </ion-col>
            <ion-col text-right class="color-8a font-size-15 num-middle" align-self-center>
              <ion-icon class="icon-jianhao font-size-18" (click)="cameraNum>0?cameraNum=cameraNum-1:cameraNum"
                        tappable></ion-icon>
              <span class="font-bold grey"> {{cameraNum}} </span>
              <ion-icon class="icon-jiajianxi font-size-18" (click)="cameraNum=cameraNum+1" tappable></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
  <p class="border-l-r color-8a" text-center>豪华·额外配备</p>
  <ion-card>
    <div class="ri-qi"><span>座椅 | </span>
      <div><span>01.05</span>
        <p>01.07</p></div>
    </div>

    <div *ngIf="ertongFlg">
      <button class="seat-border" (click)="ertongFlg=!ertongFlg">
        <ion-icon class="icon-guanbi"></ion-icon>
      </button>
      <ion-row align-items-center class="padding-t-5">
        <ion-col col-4 margin-top>
          <img src="assets/imgs/journey/car.png" width="50" height="50"/>
        </ion-col>
        <ion-col>
          <h2>儿童座椅</h2>
          <p class="font-size-12 color-8a">通常适用于9个月-4岁，体重9-25公斤儿童</p>
          <ion-row>
            <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col text-left class="grey font-size-12" col-auto>物品以实物为准</ion-col>
            <ion-col text-right class="color-8a font-size-15 num-middle" align-self-center>
              <ion-icon class="icon-jianhao font-size-18" (click)="ertongNum>0?ertongNum=ertongNum-1:ertongNum"
                        tappable></ion-icon>
              <span class="font-bold grey"> {{ertongNum}} </span>
              <ion-icon class="icon-jiajianxi font-size-18" (click)="ertongNum=ertongNum+1" tappable></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="yingerFlg">
      <p class="div-border "></p>
      <button class="seat-border" (click)="yingerFlg=!yingerFlg">
        <ion-icon class="icon-guanbi"></ion-icon>
      </button>
      <ion-row align-items-center class="padding-t-5">
        <ion-col col-4>
          <img src="assets/imgs/journey/car.png" width="50" height="50"/>
        </ion-col>
        <ion-col>
          <h2>婴儿座椅</h2>
          <p class="font-size-12 color-8a">通常适用于0-15个月的婴幼儿</p>
          <ion-row>
            <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col text-left class="grey font-size-12" col-auto>物品以实物为准</ion-col>
            <ion-col text-right class="color-8a font-size-15 num-middle" align-self-center>
              <ion-icon class="icon-jianhao font-size-18" (click)="yingerNum>0?yingerNum=yingerNum-1:yingerNum"
                        tappable></ion-icon>
              <span class="font-bold grey"> {{yingerNum}} </span>
              <ion-icon class="icon-jiajianxi font-size-18" (click)="yingerNum=yingerNum+1" tappable></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="zenggaoFlg">
      <p class="div-border "></p>
      <button class="seat-border"  (click)="zenggaoFlg=!zenggaoFlg">
        <ion-icon class="icon-guanbi"></ion-icon>
      </button>
      <ion-row align-items-center class="padding-t-5">
        <ion-col col-4>
          <img src="assets/imgs/journey/car.png" width="50" height="50"/>
        </ion-col>
        <ion-col>
          <h2>儿童增高坐垫</h2>
          <p class="font-size-12 color-8a">通常适用于5-9岁儿童</p>
          <ion-row>
            <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col text-left class="grey font-size-12" col-auto>物品以实物为准</ion-col>
            <ion-col text-right class="color-8a font-size-15 num-middle">
              <ion-icon class="icon-jianhao " (click)="zenggaoNum>0?zenggaoNum=zenggaoNum-1:zenggaoNum"
                        tappable></ion-icon>
              <span class="font-bold grey vertical-center"> {{zenggaoNum}} </span>
              <ion-icon class="icon-jiajianxi" (click)="zenggaoNum=zenggaoNum+1" tappable></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <p class="div-border"></p>
    </div>

    <p text-center class="color-73 padding-tb-5" (click)="erTongSeat(ertongFlg,yingerFlg,zenggaoFlg)" tappable>{{!ertongFlg&&!yingerFlg&&!zenggaoFlg?'+  儿童座椅':'更多座椅选择'}}</p>
  </ion-card>
  <p class="border-l-r color-8a" text-center>豪华·行程安排</p>
  <ion-card>
    <ion-row>
      <ion-col col-4>
        <div class="ri-qi"><span>D1 | </span>
          <div><span>01.25</span>
            <p>2018</p></div>
        </div>
      </ion-col>
      <ion-col class="grey">酒店住宿</ion-col>
    </ion-row>
    <p class="div-border"></p>

    <ion-row align-items-center class="padding-t-5">
      <ion-col col-4 margin-top>
        <img src="assets/imgs/journey/car.png" width="50" height="50"/>
      </ion-col>
      <ion-col>
        <h2>普者黑老馆了心度假庄园</h2>
        <p class="driver-btn hotel-btn">
          <span> 五星级酒店 </span><span> 特色水疗SPA </span>
        </p>
        <ion-row>
          <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col text-left class="grey font-size-12" col-auto>龙腾双床房(含双早)</ion-col>
          <ion-col text-right class="color-8a font-size-15 num-middle" align-self-center>
            <ion-icon class="icon-jianhao font-size-18" (click)="hotelNum>1?hotelNum=hotelNum-1:hotelNum"
                      tappable></ion-icon>
            <span class="font-bold grey"> {{hotelNum}} </span>
            <ion-icon class="icon-jiajianxi font-size-18" (click)="hotelNum=hotelNum+1" tappable></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <p class="div-border"></p>
    <ion-row text-center class="color-73 padding-tb-5">
      <ion-col>更换酒店</ion-col>
      <ion-col col-1 style="color: #e5e5e5;">|</ion-col>
      <ion-col>更换房型</ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col col-4>
        <div class="ri-qi tour-top"><span>D1 | </span>
          <div><span>01.25</span>
            <p>2018</p></div>
        </div>
      </ion-col>
      <ion-col class="grey">景点门票</ion-col>
    </ion-row>
    <p class="div-border"></p>

    <ion-row align-items-center class="padding-t-5">
      <ion-col col-4 margin-top>
        <img src="assets/imgs/journey/car.png" width="50" height="50"/>
      </ion-col>
      <ion-col>
        <h2>尼洋河</h2>
        <p class="driver-btn tour-btn">
          <span> 5A景区 </span><span> 泼水节 </span>
        </p>
        <ion-row>
          <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col text-left class="grey font-size-12" col-auto>尼洋河</ion-col>
          <ion-col text-right class="color-8a font-size-15 num-middle" align-self-center>
            <ion-icon class="icon-jianhao font-size-18" (click)="niyangNum>0?niyangNum=niyangNum-1:niyangNum"
                      tappable></ion-icon>
            <span class="font-bold grey"> {{niyangNum}} </span>
            <ion-icon class="icon-jiajianxi font-size-18" (click)="niyangNum=niyangNum+1" tappable></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <p class="div-border"></p>
    <ion-row align-items-center class="padding-t-5">
      <ion-col col-4 margin-top>
        <img src="assets/imgs/journey/car.png" width="50" height="50"/>
      </ion-col>
      <ion-col>
        <h2>雅鲁藏布大峡谷</h2>
        <p class="driver-btn tour-btn">
          <span> 4A风景区 </span>
        </p>
        <ion-row>
          <ion-col no-padding class="border-padding"><p class="div-border"></p></ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col text-left class="grey font-size-12" col-auto>雅鲁藏布大峡谷</ion-col>
          <ion-col text-right class="color-8a font-size-15 num-middle" align-self-center>
            <ion-icon class="icon-jianhao font-size-18" (click)="yaluNum>0?yaluNum=yaluNum-1:yaluNum"
                      tappable></ion-icon>
            <span class="font-bold grey"> {{yaluNum}} </span>
            <ion-icon class="icon-jiajianxi font-size-18" (click)="yaluNum=yaluNum+1" tappable></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-row class="footer-row" align-items-center>
    <ion-col col-5 class="foot-price" text-center>
      <small>￥</small>
      <span class="font-size-price">16985</span>
      <span class="color-8a nowrap">(积分折扣可用)</span>
    </ion-col>
    <ion-col col-3 class="grey font-size-16" text-center>
      费用明细
    </ion-col>
    <ion-col col-4>
      <button full ion-button style="background-color: #f3bb44;" class="grey">去完善信息</button>
    </ion-col>
  </ion-row>
</ion-footer>
