// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../assets/fonts/iconfont.scss";
@import "../assets/fonts/radikal.scss";
@import "../assets/fonts/roboto.scss";
@import "../theme/animations.scss";

$light: #fff;
$stable: #f8f8f8;
$positive: #00ACFF;
$calm: #11c1f3;
$balanced: #33cd5f;
$energized: #f26604;
$yellow: #FFDE37;
$assertive: #ef473a;
$royal: #886aea;
$grey: #585858;
$dark: #444;

$colors-list: (light:$light, stable:$stable, positive:$positive, calm:$calm, balanced:$balanced, energized:$energized, yellow:$yellow, assertive:$assertive, royal:$royal, dark:$dark);
@each $key, $value in $colors-list {
  .#{$key} {
    color: $value !important;
  }
  .#{$key}-bg {
    background-color: $value !important;
  }
}

.radikal {
  font-family: Radikal !important;
  font-style: normal;
}

.roboto {
  font-family: Roboto !important;
  font-style: normal;
}

a {
  text-decoration: none;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.center-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.border-radius-50 {
  border-radius: 50% !important;
}

$opacity-list: (opacity-6:0.6, opacity-8 :0.8);
@each $key, $value in $opacity-list {
  .#{$key} {
    opacity: $value !important;
  }
}

.no-border {
  border: none;
}

.bottom-fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transparent-header {
  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  .back-button {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    position: fixed;
    background: transparent !important;
    background-color: transparent !important;

  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }

}

.is-not-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  i, icon {
    font-size: 10rem !important;
  }
  p {
    margin-top: 1.5rem;
    font-size: 2rem;
  }
}

.jiao-biao {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 66%;
  opacity: 0.9;
  font-size: 0.9rem;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background-color: #B30500;
  border-radius: 50%;
}

.partition {
  width: 100%;
  height: 10px;
  background-color: #F9F9F9;
}

.white-header {
  // This is just to make the header white and button/icon with #111111 color
  .toolbar-content,
  .back-button {
    color: #111111;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: #ffffff !important;
    background-color: #ffffff !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }

}

.platform-android.platform-cordova {
  ion-header {
    padding-top: $cordova-md-statusbar-padding;
    /*    background-color: color($colors, primary);*/
  }
}

ion-header + ion-segment, ion-header + div, ion-header + ion-row {
  margin-top: $navbar-ios-height;
}

.platform-android.platform-cordova {
  ion-header + ion-segment, ion-header + div, ion-header + ion-row {
    margin-top: 68px;
  }

}


