/*
ion-segment{
  margin-top: $navbar-ios-height+$cordova-md-statusbar-padding;
}
*/


page-roadlist {

  .roadlist-img img{
    width: 75px!important;
    height: 90px!important;
  }

  .road-bottom{
    z-index: 9;
    position: fixed;
    width: 100%;
    bottom: 20px;left: 0;right: 0;
  }

  .footroad-bg {
    //margin: 20px 0;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 50px 50px 0;
    box-shadow: -2px 0 6px #DDDDDD,0 -2px 6px #DDDDDD,0 2px 6px #DDDDDD,2px 0 6px #DDDDDD;
    font-size: 1.5rem;
  }

/*  .footroad-bg ion-col p{
    margin: 0.8rem 0;
  }*/

  /*价格天数 销量 悬浮框*/
  .price-style{
    background-color: #ffdb27;
    border-radius: 2px;
    padding: 1px 5px;
  }
  .arrow-style p{
    margin: -0.6rem 0 -0.5rem -1.7rem!important;
  }
  .arrow-style p ion-icon{
    color: #474747;
    font-size: 14px;
  }

  /*筛选*/
  .shaixuan-style{
    margin-right:12px;
  }
  .shaixuan-style ion-icon{
    width:46px;height: 46px;
    background-color: #41c5ad;
    color: #ffffff;
    font-size: 25px;
    padding-top:11px;
    text-align: center;
  }
}
