page-add-address {
  ion-content{
    .scroll-content{
      background-color:  $color-f7!important;
    }
  }
  ion-list{
    ion-item{
      .shou-huo{
        margin-right: 22px;
      }
      font-size: 16px!important;
    }
  }
}
