<ion-header>
  <ion-navbar color="white">
    <ion-title>我的收藏</ion-title>
    <ion-buttons end>
      <button class="more-btn" ion-button icon-only>
        <ion-icon class="icon-more_android_light "></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <p class="div-border"></p>
  <ion-toolbar color="white" no-padding>
    <ion-segment [(ngModel)]="collect" mode="md" (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let item of collectArr" value="{{item}}">
        {{item}}
        <div class="bolder-sm"></div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div [ngSwitch]="collect" (swipe)="swipeEvent($event)">
    <div *ngSwitchCase="'全部'" class="padding-t-1">
      <ion-list>
        <ion-item *ngFor="let item of collectList">
          <ion-row align-items-center [navPush]="'CircleCarpoolPage'">
            <ion-col col-auto>
              <img [src]="item.img" width="60px" height="60px"/>
            </ion-col>
            <ion-col class="collect-content">
              <p text-wrap>{{item.title}}</p>
              <p text-right class="price" *ngIf="item.price!=null"><small>￥</small><span>{{item.price}}</span> 起</p>
              <ion-row align-items-center>
                <ion-col no-padding col-auto>{{item.type}}</ion-col>
                <ion-col text-right no-padding>收藏于{{item.time}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'线路'" padding>线路</div>
    <div *ngSwitchCase="'商品'" padding>商品</div>
    <div *ngSwitchCase="'游记'" padding>游记</div>
  </div>
</ion-content>
