page-self-tour-journey {
  .li-shi-btn {
    position: relative;
    font-size: 1.3rem !important;
  }

  .margin-5 {
    margin-bottom: 5px !important;
  }
  .color-8a {
    color: #8a8a8a;
  }
  .font-size-16 {
    font-size: 1.6rem;
  }
  .font-size-15 {
    font-size: 1.5rem;
  }
  .font-size-12 {
    font-size: 1.2rem;
  }

  .font-wb{
    font-weight: bold;
  }

  .border-radius-img{
    border-radius: 10px;
  }

  .date{
    margin:5px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px #d6d6d6 solid;
  }

  .date-select{
    background-color: #fedd35;
    border: 1px #fedd35 solid;
  }

  /*地图*/
  .map-container {
    width: 100%;
    height: 40%;
    z-index: -1;
  }

  /*下面滑动部分*/
  .self-jour-div1{
    margin-top: -20px;
    background-color: #ffffff;
    z-index:5;
  }

  .day-img{
    margin-top: -2rem;
    position: absolute;
    background-image: url(../assets/imgs/journey/D1.png);
    width: 65px;height: 65px;line-height: 65px;
    background-size: cover;
    font-size: 22px;
    font-weight: bold;
  }
  /*中间的border*/
  .col-border:after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 2px;
    position: absolute;
    width: 1px;
    height: 50%;
    background-color: #e5e5e5;
  }

  .tou-xiang {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: top;
    border: 2px solid #eca722;
    margin-right: 3px;
  }

  .tour-jour-card{
    margin-top: 1rem;
    padding:2px;
    border: 1px #d1e0fb solid;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(62,62,62,.14);
  }

  .tour-jour-card:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left:0;
    top:50%;
    border-top: 7px solid transparent;
    border-right: 5px solid #d1e0fb;
    border-bottom: 7px solid transparent;
    z-index:1;
  }
  .tour-jour-card:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left:1px;
    top:50%;
    border-top: 7px solid transparent;
    border-right: 5px solid #ffffff;
    border-bottom: 7px solid transparent;
    z-index:2;
  }

  .jour-jingdian-card{
    margin-top: 1rem;
    padding:2px;
    border: 1px #d1e0fb solid;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(62,62,62,.14);
  }

  .quche-style{
    color: #00abdc;
  }
  .quche-style ion-icon{
    font-size: 24px;
  }

  .xingcheng-icon{
    font-size: 12px;
    color: #ffffff;
    width: 20px;height: 20px;line-height:20px;
    background-color: #94C762;
    border-radius: 50%;
  }

  /*左侧icon*/
  .self-jour-icon-left{
    margin-top: 1rem;
    font-size: 30px;
    color: #ffffff;
    width: 44px;height: 44px;
    background-color: #6294FA;
    border-radius: 50%;
    line-height:40px;
    border: 2px rgba(255, 255, 255, 0.65) solid;
  }
  .self-jour-icon-left-bkcol2{
    background: -webkit-linear-gradient(top, #7D98F1, #A581FD)!important; /* Safari 5.1 - 6.0 */
    background: linear-gradient(to bottom, #7D98F1, #A581FD)!important; /* 标准的语法（必须放在最后） */
  }
  .self-jour-icon-left-bkcol3{
    background: -webkit-linear-gradient(top, #E572BF, #A47DFF)!important; /* Safari 5.1 - 6.0 */
    background: linear-gradient(to bottom, #E572BF, #A47DFF)!important; /* 标准的语法（必须放在最后） */
  }
  .self-jour-icon-left-bkcol4{
    background-color: #F3B352!important;
  }
  .self-jour-icon-left-bkcol5{
    background-color: #D4C695!important;
  }

  /*左边的竖线*/
  .border-after:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #e5e5e5;
    left:25px;
    top:100%;
  }
  .border-after-xingcheng:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #e5e5e5;
    left:25px;
    top:100%;
  }
  .border-after-xunhuan:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #e5e5e5;
    left:25px;
    top:100%;
  }

  /*地图标记*/
  .amap-marker-label{
    z-index: -1;
    height: 26px;
    padding: 5px 8px 5px 18px;
    border: 1px #ffffff solid;
    border-radius: 0 50px 50px 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, .1),0 -2px 5px rgba(0, 0, 0, .1),0 2px 5px rgba(0, 0, 0, .1),2px 0 5px rgba(0, 0, 0, .1);
  }
}
