
<ion-header >
  <ion-navbar color="white">
    <ion-title>确认订单</ion-title>
    <ion-buttons end>
      <button class="search-btn" ion-button icon-only>
        <ion-icon class="icon-share"></ion-icon>
      </button>
      <button class="more-btn" ion-button icon-only>
        <ion-icon class="icon-more_android_light "></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <p class="div-border"></p>
</ion-header>
<ion-content>
  <p no-margin text-center><img src="./assets/imgs/rent-car/car.png"/></p>
  <p no-margin text-center class="cartype">别克英朗</p>
  <ion-row align-items-center>
    <ion-col></ion-col>
    <ion-col class="border-title"></ion-col>
    <ion-col class="font-size-12 grey" text-center col-auto>三厢车 • 1.6T • 自动挡 • 准乘5人 • 空间说明 <ion-icon class="icon-questionfill color-e5"></ion-icon></ion-col>
    <ion-col class="border-title"></ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="padding-lr-10">
    <ion-row align-items-center>
      <ion-col col-3 text-center>
        <p no-margin class="grey font-size-16">取 03.07</p>
        <p no-margin class="color-8a font-size-12">周三 11:30</p>
      </ion-col>
      <ion-col col-6 no-padding >
        <ion-row align-items-center>
          <ion-col no-padding col-2></ion-col>
          <ion-col class="circle-border1" no-padding></ion-col>
          <ion-col no-padding>
            <div class="circle-bk" text-center>
              <p no-margin class="circle-dayday">2</p>
              <p no-margin class="font-size-12">天</p>
            </div>
          </ion-col>
          <ion-col class="circle-border2" no-padding></ion-col>
          <ion-col no-padding col-2></ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-3 text-center>
        <p no-margin class="grey font-size-16">还 03.09</p>
        <p no-margin class="color-8a font-size-12">周五 11:30</p>
      </ion-col>
    </ion-row>
    <p class="div-border margin-tb-10"></p>
    <ion-row align-items-center>
      <ion-col col-1 text-right><ion-icon class="icon-location" color="primary"></ion-icon></ion-col>
      <ion-col col-3 class="color-8a">送车上门</ion-col>
      <ion-col>
        <p no-margin class="font-size-15 grey">成都 富力中心送车点</p>
        <p no-margin class="font-size-12 color-8a">顺城大街269号富力中心1208号</p>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-1 text-right><ion-icon class="icon-location" color="primary"></ion-icon></ion-col>
      <ion-col col-3 class="color-8a">还车网点</ion-col>
      <ion-col>
        <p no-margin class="font-size-15 grey">成都 富力中心送车点</p>
        <p no-margin class="font-size-12 color-8a">顺城大街269号富力中心1208号</p>
      </ion-col>
    </ion-row>
  </div>
  <p class="partition margin-top-0"></p>
  <h5 class="color-8a padding-lr-10">驾驶员信息</h5>
  <p class="div-border"></p>
  <div class="padding-lr-10">
    <ion-row align-items-center class="padding-8">
      <ion-col col-3 class="grey">驾驶员</ion-col>
      <ion-col class="color-8a">请选择一位驾驶员</ion-col>
      <ion-col text-right class="color-8a"><ion-icon class="icon-right"></ion-icon></ion-col>
    </ion-row>
    <p class="div-border"></p>
    <ion-row align-items-center class="">
      <ion-col col-3 class="grey">联系手机</ion-col>
      <ion-col><ion-input type="number" placeholder="用于接收预订信息"></ion-input></ion-col>
    </ion-row>
  </div>

  <p class="partition margin-top-0"></p>
  <h5 class="color-8a padding-lr-10">基本费用</h5>
  <p class="div-border"></p>
  <div class="padding-lr-10">
    <ion-row align-items-center class="padding-8">
      <ion-col col-3 class="grey">基础服务费</ion-col>
      <ion-col text-right class="grey"><span class="color-8a">40×2= </span><small>￥</small>80</ion-col>
    </ion-row>
    <p class="div-border"></p>
    <ion-row align-items-center class="padding-8">
      <ion-col col-3 class="grey">手续费</ion-col>
      <ion-col text-right class="grey"><small>￥</small>20</ion-col>
    </ion-row>
  </div>
  <p class="partition margin-top-0"></p>
  <h5 class="color-8a padding-lr-10">选择服务</h5>
  <p class="div-border"></p>
  <div class="padding-lr-10">
    <ion-row align-items-center class="padding-8">
      <ion-col class="grey">尊享服务费  <ion-icon class="icon-questionfill color-e5 font-size-16"></ion-icon></ion-col>
      <ion-col text-right class="grey" (click)="vipServiceFlg=!vipServiceFlg" tappable>
        <span *ngIf="vipServiceFlg"><span class="color-8a">50×2= </span><small>￥</small>100</span>
        <ion-icon class="icon-roundcheckfill font-size-icon" ngClass="{{vipServiceFlg?'check-color':'color-8a'}}"></ion-icon>

      </ion-col>
    </ion-row>
    <p class="div-border"></p>
    <ion-row align-items-center class="padding-8">
      <ion-col class="grey">指定车型</ion-col>
      <ion-col text-right class="grey" (click)="specifyCarFlg=!specifyCarFlg" tappable>
        <span *ngIf="specifyCarFlg"><small>￥</small>20</span>
        <ion-icon class="icon-roundcheckfill font-size-icon" ngClass="{{specifyCarFlg?'check-color':'color-8a'}}"></ion-icon>
      </ion-col>
    </ion-row>
    <p class="div-border"></p>
    <ion-row align-items-center class="padding-8">
      <ion-col class="grey" col-8 text-nowrap>第三方责任补充 <ion-icon class="icon-questionfill color-e5 font-size-16"></ion-icon></ion-col>
      <ion-col class="grey"><span *ngIf="threeParty"><small>￥</small>{{threeParty1==1?50:100}}</span></ion-col>
      <!--<ion-col text-right col-2>--><ion-toggle [(ngModel)]="threeParty"></ion-toggle><!--</ion-col>-->
    </ion-row>
    <div class="padding-l-10" *ngIf="threeParty">
      <ion-row align-items-center class="padding-8" (click)="threeParty1=1">
        <ion-col class="grey" col-auto>50万第三者责任补充 (￥50)</ion-col>
        <ion-col text-right class="grey">
          <ion-icon class="icon-roundcheckfill font-size-icon" ngClass="{{threeParty1==1?'check-color':'color-8a'}}"></ion-icon>
        </ion-col>
      </ion-row>
      <p class="div-border"></p>
      <ion-row align-items-center class="padding-8" (click)="threeParty1=2">
        <ion-col class="grey" col-auto>100万第三者责任补充 (￥100)</ion-col>
        <ion-col text-right class="grey">
          <ion-icon class="icon-roundcheckfill font-size-icon" ngClass="{{threeParty1==2?'check-color':'color-8a'}}"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <p class="div-border"></p>
    <ion-row align-items-center class="padding-8">
      <ion-col class="grey nowrap" col-8 text-nowrap>网点额外服务(儿童座椅、GPS) <ion-icon class="icon-questionfill color-e5 font-size-16"></ion-icon></ion-col>
      <ion-col class="grey"><span *ngIf="extraService"><small>￥</small>{{(seatYinger+seatErtong)*50}}</span></ion-col>
     <!-- <ion-col float-right>--><ion-toggle [(ngModel)]="extraService"></ion-toggle><!--</ion-col>-->
    </ion-row>
    <div class="padding-l-10" *ngIf="extraService">
      <ion-row align-items-center class="padding-8">
        <ion-col class="grey" col-auto>
          <p no-margin class="grey">婴儿座椅  (￥50/天)</p>
          <p no-margin class="font-size-12 color-8a">通常适用于0-15月的婴幼儿</p>
        </ion-col>
        <ion-col text-right class="grey" align-self-center>
          <ion-icon class="icon-jianhao font-size-icon color-8a" (click)="yingerMinus()"></ion-icon><span class="font-size-18 grey"> {{seatYinger}} </span>
          <ion-icon class="icon-jiajianxi font-size-icon color-8a" (click)="yingerPlus()"></ion-icon>
        </ion-col>
      </ion-row>
      <p class="div-border"></p>
      <ion-row align-items-center class="padding-8">
        <ion-col class="grey" col-8>
          <p no-margin class="grey">儿童座椅  (￥50/天)</p>
          <p no-margin class="font-size-12 color-8a " >通常适用于9个月到4岁，体重约9-25斤的儿童</p>
        </ion-col>
        <ion-col text-right class="grey" align-self-center>
          <ion-icon class="icon-jianhao font-size-icon color-8a" (click)="ertongMinus()"></ion-icon><span class="font-size-18 grey"> {{seatErtong}} </span>
          <ion-icon class="icon-jiajianxi font-size-icon color-8a" (click)="ertongPlus()"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <p class="partition margin-top-0"></p>
  <h5 class="color-8a padding-lr-10">里程限制与燃油说明</h5>
  <p class="div-border"></p>
  <div class="padding-lr-10">
    <ion-row align-items-center class="padding-8">
      <ion-col col-3 class="grey">里程限制</ion-col>
      <ion-col col-3 class="color-11">不限里程</ion-col>
      <ion-col text-right><ion-icon class="icon-questionfill color-e5 question-icon"></ion-icon></ion-col>
    </ion-row>
    <p class="div-border"></p>
    <ion-row align-items-center class="padding-8">
      <ion-col col-3 class="grey">燃油说明</ion-col>
      <ion-col col-3 class="color-11">满油取还</ion-col>
      <ion-col text-right><ion-icon class="icon-questionfill color-e5 question-icon"></ion-icon></ion-col>
    </ion-row>
  </div>
  <p class="partition margin-tb-0"></p>
  <div class="padding-lr-10">
    <ion-row align-items-center class="padding-8">
      <ion-col col-3 class="grey">支付方式</ion-col>
      <ion-col class="color-11">在线支付</ion-col>
      <ion-col text-right class="color-8a"><ion-icon class="icon-right"></ion-icon></ion-col>
    </ion-row>
    <p class="div-border"></p>
    <ion-row align-items-center class="padding-8">
      <ion-col col-3 class="grey">优惠折扣</ion-col>
      <ion-col><button small class="youhuiquan">4张优惠券可用</button></ion-col>
      <ion-col text-right><span style="color: #d8862f;" class="font-size-15">更多优惠 </span><ion-icon class="icon-right color-8a"></ion-icon></ion-col>
    </ion-row>
  </div>
  <p class="partition margin-tb-0"></p>
  <div class="padding-lr-10">
    <ion-row align-items-center class="padding-8">
      <ion-col col-3 class="grey">开具发票</ion-col>
      <ion-col text-right class="color-8a">不开发票 <ion-icon class="icon-right"></ion-icon></ion-col>
    </ion-row>
  </div>
  <p class="partition margin-tb-0"></p>

  <ion-segment [(ngModel)]="cardetailSeg" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let item of cardetailArr" value="{{item}}">
      {{item}}
      <div class="bolder-sm"></div>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="cardetailSeg">
    <div *ngSwitchCase="'订车流程'">订车流程</div>
    <div *ngSwitchCase="'必备材料'" class="padding-lr-10">
      <ion-row  align-items-center="" class="padding-5">
        <ion-col col-auto class="aa-bg" text-center>1</ion-col>
        <ion-col class="color-8a">请携带本人有效身份证+驾驶证+信用卡</ion-col>
      </ion-row>
      <ion-row align-items-center="" class="padding-5">
        <ion-col col-auto class="aa-bg" text-center>2</ion-col>
        <ion-col class="color-8a">取车前需刷取3000元预授权或押金</ion-col>
      </ion-row>
      <ion-row align-items-center="" class="padding-5">
        <ion-col col-auto class="aa-bg" text-center>3</ion-col>
        <ion-col class="color-8a">取车前需刷取3000元预授权或押金</ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'租车须知'">租车须知</div>
    <div *ngSwitchCase="'注意事项'">注意事项</div>
  </div>
  <p class="grey padding-lr-10 back-e5 font-size-13 margin-bottom-0">
    <span (click)="readAgreeFlg=!readAgreeFlg" tappable><ion-icon class="icon-roundcheckfill font-size-icon" ngClass="{{readAgreeFlg?'check-color':'color-8a'}}"></ion-icon> 已仔细阅读并同意  </span>
    <span class="color-blue" (click)="doAlert()" tappable> 租车须知 </span>
  </p>
</ion-content>
<ion-footer>
  <ion-row class="footer-row" align-items-center>
    <ion-col col-5 class="foot-price" text-center>
      <small>￥</small><span class="font-size-price">398</span>
      <span class="color-8a">(日均￥199)</span>
    </ion-col>
    <ion-col col-3 class="grey font-size-16" text-center>
      费用明细
    </ion-col>
    <ion-col col-4>
      <button full ion-button style="color:#ffffff;background-color: #f3bb44; ">立即定制</button>
    </ion-col>
  </ion-row>
</ion-footer>
