page-circle {


.fixed-content{
  background: url("../assets/imgs/circle/01沙漠背景.png") no-repeat;
  background-size: 100% 45%;
}

  .top-img{
    img{
      width: 100%;
      max-height: 45vh;
    }
  }

  .circle-row{
    .row-img{
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }

    ion-col p:first-child{
      font-size: 15px;
      font-weight: bold;
      color: #111111;
    }
  }
}
