page-cost-detail {
  .cost-bk-color{
    background-color: rgba(0,0,0,.8);
    color: #ffffff;
  }
  .color-fa{
    color: #fad934;
  }

  .div-border-cost{
    margin: 0!important;
    height: 1px;
    background-image: linear-gradient(0deg, transparent 50%, #6d6d6d 50%);
  }

  .padding-l-5{
    padding-left: 5px;
  }

  .margin-b-14{
    margin-bottom: 14px!important;
  }

  .foot-style{
    color: #ffffff;
    .font-size-icon{
      font-size: 30px;
    }
  }
}
